
<!--
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * Copyright 2014, OpenSpace Solutions LLC. All Right Reserved.
 */

-->
<configuration scan="true" scanPeriod="30 seconds">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
                    <!-- %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n -->
			<Pattern>[%-5level] %msg%n
			</Pattern>
		</layout>
	</appender>
	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>